@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

html, body, p {
  margin: 0;
}

body, button, input, select, textarea {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  background: #f5f5fb;
}

nav {
  min-height: 100vh;
  width: 170px;
  padding: 30px 0 20px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}
nav div img {
  width: 125px;
}
nav div .menuItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 25px 0;
}
nav div .menuItems li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  font-size: 14px;
}
nav div .menuItems li:hover {
  color: gray;
  cursor: pointer;
}
nav div .menuItems li img {
  width: 30px;
}
nav div .menuItems li p {
  margin: 0;
  padding-top: 10px;
}
nav .settings {
  display: flex;
  align-items: center;
  font-size: 10px;
}
nav .settings:hover {
  color: gray;
  cursor: pointer;
}
nav .settings svg {
  margin-right: 6px;
  width: 13px;
}

main {
  width: 100%;
  max-width: 1100px;
  margin: 35px;
  background: #F5F5FB;
}

.topSection {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.topSection .container {
  display: flex;
  align-items: center;
  background: white;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 4px 3px 7px 0 rgba(32, 33, 36, 0.28);
  line-height: 36px;
}
.topSection .container .info {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.topSection .container .info:nth-child(3) {
  padding-left: 30px;
  border-left: 2px solid black;
}
.topSection .container .info .title {
  font-weight: bold;
}
.topSection .container .info .number {
  font-size: 40px;
  font-weight: bold;
  color: #FFB22B;
}
.topSection .container .imgLua {
  margin-right: 30px;
}

.bottomSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  gap: 35px;
}
.bottomSection .containerTable, .bottomSection .containerCircle {
  background: white;
  box-shadow: 4px 3px 7px 0 rgba(32, 33, 36, 0.28);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
}
.bottomSection .containerTable h1, .bottomSection .containerCircle h1 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 8px;
}
.bottomSection .containerTable {
  flex: 2;
}
.bottomSection .containerTable p {
  font-size: 14px;
}
.bottomSection .containerTable table {
  margin-top: 15px;
  width: 100%;
  min-width: 560px;
}
.bottomSection .containerTable table thead {
  text-align: left;
}
.bottomSection .containerTable table thead th {
  color: #3b3b3b;
  border-bottom: 1.5px solid rgba(82, 82, 82, 0.8156862745);
  font-size: 13px;
}
.bottomSection .containerTable table tbody {
  text-align: left;
}
.bottomSection .containerTable table tbody td {
  font-size: 12px;
  color: #6b6b6b;
  padding: 8px 40px 8px 0;
  border-bottom: 1px solid lightgray;
}
.bottomSection .containerTable table tbody td:last-child {
  text-align: center;
}
.bottomSection .containerCircle {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.bottomSection .containerCircle div {
  display: flex;
  justify-content: center;
}

footer {
  display: none;
}

@media (max-width: 1050px) {
  main .topSection {
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
  }
  main .topSection .containerMoonsAndPlanets {
    order: 1;
  }
  main .bottomSection {
    margin-top: 35px;
  }
}
@media (max-width: 800px) {
  body {
    display: block;
  }
  nav {
    min-height: unset;
    width: 100%;
    padding: 12px 20px 12px 10px;
  }
  nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  nav div img {
    width: 100px;
    height: 100%;
  }
  nav div .menuItems {
    flex-direction: row;
    align-items: baseline;
    margin: 0;
  }
  nav div .menuItems li {
    margin: 0;
  }
  nav div .menuItems li + li {
    padding-left: 25px;
  }
  nav div .menuItems li img {
    width: 32px;
  }
  nav div .menuItems li p {
    display: none;
  }
  nav .settings {
    display: none;
  }
  main {
    margin: 0;
    padding: 35px 20px;
  }
  main .topSection {
    justify-content: center;
  }
  main .topSection .container {
    padding: 15px;
    line-height: 32px;
  }
  main .topSection .container .info .title {
    font-size: 15px;
  }
  main .topSection .container .info .number {
    font-size: 32px;
  }
  main .topSection .container img {
    width: 55px;
  }
  main .topSection .containerMoonsAndPlanets {
    order: 1;
  }
  main .bottomSection {
    margin-top: 35px;
  }
  main .bottomSection .containerTable {
    flex: unset;
    padding: 15px;
  }
  main .bottomSection .containerTable table {
    min-width: unset;
  }
  main .bottomSection .containerTable table tbody td {
    font-size: 11px;
    padding: 5px 20px 8px 0;
  }
  main .bottomSection .containerCircle {
    flex: unset;
    padding: 15px;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: black;
    color: white;
    font-size: 13px;
    padding: 12px;
  }
  footer:hover {
    color: gray;
    cursor: pointer;
  }
  footer svg {
    margin-right: 20px;
    margin-right: 6px;
    width: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
